/* styles/globals.css */
html,
body {
  background-color: #1a1a1d;
  color: #c5c6c7;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}
